@import "tailwindcss";

.bg-mesh {
    background-color: #f4f9f7;
    background-image:
            radial-gradient(at 20% 0%, #e0d7ff 0%, transparent 50%),
            radial-gradient(at 100% 0%, #d9f5f0 0%, transparent 50%),
            radial-gradient(at 50% 100%, #fdebd0 0%, transparent 50%);
    background-repeat: no-repeat;
    background-size: cover;
}

.hexagon-img {
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hexagon-wrapper {
    filter: drop-shadow(0 40px 40px rgba(0, 0, 0, 0.2));
}